@{
    ViewData["Title"] = "Presentación";
}
<h1>@ViewData["Title"]</h1>

<p style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">Autora: <span style="font-family: 'Helvetica', sans-serif; font-size: 20px; color: rebeccapurple; font-weight: bold;">Carolayne Richleid Mejia Enriquez</span></p>
<p style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">Carrera: <span style="font-family: 'Helvetica', sans-serif; font-size: 20px; color: rebeccapurple; font-weight: bold;">Ingeniería en Software</span></p>
<p style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">Nivel: <span style="font-family: 'Helvetica', sans-serif; font-size: 20px; color: rebeccapurple; font-weight: bold;">6to</span></p>
<p style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;"><span style="font-family: 'Helvetica', sans-serif; font-size: 20px; color: rebeccapurple; font-weight: bold;">Universidad Técnica del Norte</span></p>

<p style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">Se realizó una solución Web (.NET Core) implementando un CRUD de dos tablas y los siguientes proyectos de software:</p>
<ol>
    <li style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">Modelos</li>
    <li style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">API (back-end)</li>
    <li style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">Interfaz de API (UAPI)</li>
    <li style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">Front-end con MVC</li>
</ol>

<p style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">Base de datos: <span style="font-family: 'Helvetica', sans-serif; font-size: 20px; color: rebeccapurple; font-weight: bold;">SQLite</span></p>

